@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
</style>



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}




body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(photo/background/panitar.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(153, 217, 145);
    background-blend-mode: screen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;

  }
  .logo {
    position: absolute;
    top: -61px; /* logo sits around 25from top */
    display: flex;
    justify-content: center;
    width: 100%;
    
  }
  .logo img {
    max-height: 316px;
    object-fit: contain;
    z-index: 9999;
    display: inline-block;
  }

  .container{
    background-color:#80e997;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgb(0, 0, 0.35);
    position:relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 450px;
  }
   .container p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
   }

   .container span{
    font-size: 14px;
   }

   .container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
   }

 .container button{
background-color: #007d1b;
color: #fff;
font-size: 12px;
padding: 10px 45px;
font-weight: 600;
border: 1px solid transparent;
border-radius: 8px;
text-transform: uppercase;
margin-top: 10px;
cursor: pointer;
 }

 .container button.hidden{
  background-color: transparent;
  border-color:#fff ;
 }

 .container form{
background-color: #80e997;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
height: 100%;

 }

 .container input{
  background-color: #ebe0e0;
  border: none;
  margin: 8px 0px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
 }

 .form-container{
  position:absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
 }
 .sign-in{
  left:0;
  width: 50%;
  z-index: 2;
  
 }
  
.container.active .sign-in{
  transform: translateX(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  z-index: 1;
}
.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 3;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
    opacity: 1;
    z-index: 1;
  }
  50%, 100%{
    opacity: 1;
    z-index: 5;
  }
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #72ba90;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
  border-radius: 150px 0 0 150px;
}

.toggle {
  background: linear-gradient(to right, #47e347, #007d1b);
  color: white;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;

}

.container.active .toggle-container {
  transform: translateX(-100%); /* move container fully to the left */
  border-radius: 0 150px 150px 0;
}

.container.active .toggle {
  transform: translateX(0); /* toggle stays centered */
}

/* Toggle Panels */
.toggle-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

/* Left */
.toggle-left {
  transform: translateX(-100%); /* hide initially */
}

.container.active .toggle-left {
  transform: translateX(0);
}

/* Right */
.toggle-right {
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(100%);
}

.back-link {
      margin-top: 2rem;
      display: block;
      color: #004009;
      text-decoration: none;
      font-size: 1rem;
    }


  /* For mobile */
  @media (max-width: 768px) {
body {
  background-image: url(photo/background/mobilepanitar.jpg);
  background-blend-mode: screen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  position: relative;
}
  }